* {
    box-sizing: border-box;
}

.passwordChecker {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.passwordChecker > * {
    margin: 0.5em;
}
.passwordChecker input {
    width: 80%;
}
.maxStrengthCircle{
    width: 50vmin;
    height: 50vmin;
    background-color: rgba(25,49,99,0.2);
    border-radius: 50%;
    text-align: center;
}